* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0.5em 1em;
    border-radius: 1em;
}

body {
    --default-padding: 1rem;

    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.sidebar {
    background-color: #2367DC;
    padding: var(--default-padding);
}

.sidebar-header,
.content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#project-list {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#project-list li {
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.5em;
}

#project-list li:hover{
    background-color: #3976e0;
}

.content {
    --main-bg-color: #f9f4f6;
    --hover-bg-color: #e0dcdd;
    
    background-color: var(--main-bg-color);
    padding: var(--default-padding);
}

.content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.content ul li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.content ul li:hover {
    background-color: var(--hover-bg-color);
}

.content ul li p {
    flex: 1;
}

.content ul li button {
    border: none;
    background: none;
    padding: 0.5em;
}

.content ul li button:hover {
    cursor: pointer;
}